*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif,Tahoma,Arial;
    font-size: 12px;
}
header{
    justify-content: center;
    display: flex;
}
section{
    display: flex;
    background-color: #eeeeee;
    width: 1200px;
}
ul{
    display: flex;
    font-weight: bold;
    border-left: 4px solid #8b0000;
    border-bottom: 2px solid #8b0000;
    width: 100%;
}
li.menu-item{
    padding: 20px;
    position: relative;
    cursor: pointer;
}
li.menu-item:hover{
    background-color: #8b0000;
    color: white;
}
li.menu-item:hover ul.tab{
    display: block;
}
li.menu-item ul.tab{
    position: absolute;
    top: 100%;
    left: 0;
    color: black;
    font-weight: normal;
    font-weight: normal;
    font-size: 12px;
    width: max-content;
    min-width: 100%;
    padding-top: 2px;
    display: none;
}
li.menu-item ul.tab li.tab-item{
    background-color: #eeeeee;
    padding: 10px 20px;
    border-bottom: 1px solid darkgray;
}
li.menu-item ul.tab li.tab-item:hover {
    background-color: #8b0000;
    color: white;
}
/** End header */
#form-1{

    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
form{
    display: grid;
    width: 700px;
    grid-template-columns: 1fr 1fr;
    gap: 15px; /** Khoang cach cac phan tu con trong container */
    transition: all 0.3s;
}
input, textarea,
input:focus-visible, textarea:focus-visible {
    border: 0;
    outline: none;
    font-size: 15px;
}
input, select {
    background-color: #f7f7f7;
}
textarea{
    resize: none;
}
label{
    font-size: 10px;
    font-weight: bold;
}
.input{
    transition: all 0.3s;
}
.input .field-wrapper{
    background-color: #f7f7f7;
}
.field-wrapper{
    display: flex;
    flex-direction: column;
    border: 1px solid #e1e1e1;
    padding: 10px 20px 20px;
    border-radius: 5px;
    gap: 10px;
}
.form-title{
    grid-column: 1/-1;
    justify-self: center;
    font-size: 35px;
    font-weight: 700;
    color: #333333;
    font-weight: bolder;
}
.field-fullname{
    grid-column: 1/-1;
}
.field-email{
    grid-column: 1/ span 1;/* span 1:ptử treải qua 1 cột duy nhất */
}
.field-phone {
    grid-column: 2/ span 1;
}
.field-services {
    grid-column: 1/-1;
}

.field-message {
    grid-column: 1/-1;
}
.btn{
    font-family: 'FontAwesome';
    display: block;
    grid-column: 1/-1;
    padding: 10px 0;
    background-color: #333333;
    border: 0;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}
.wrapper{
    position: relative;
}
.txtService{
    width: 90%;
}
.arrow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
}
.arrow-icon{
    font-size: 8px;
    cursor: pointer;
    color: #333333;
}
.arrow-icon:hover{
    color: crimson;
}
.error {
    display: none;
    color: crimson;
    align-items: center;
    font-size: 12px;
    padding-left: 20px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}


